@use './variables' as v;

header {
  height: 100px;
  background-color: v.$brand;
}

h1 {
  text-align: center;
}

iframe {
  width: 100%;
  height: 500px;
}

.form {
  max-width: 400px;
  margin: 0 auto;
  label, input {
    display: block;
  }
  [type="text"],
  [type="email"],
  textarea {
    width: 100%;
    margin-bottom: 20px;
  }
  [type="text"],
  [type="email"] {
    height: 30px;
  }
  textarea {
    height: 120px;
  }
  label {
    text-transform: capitalize;
  }
  [type="submit"] {
    width: 100px;
    margin-left: auto;
    height: 30px;
    background-color: v.$brand;
    border: none;
    border-radius: 10px;
  }
}

// [type="text"] {
//   background-color: red;
// }